* {
    margin: 0px;
    padding: 0px;
}

.container1 {
    display: inline-block;
    padding: 20px;
}
.container1 a {
    padding-right: 10px;
}

#subcontainer {
    border: 0px solid;
    border-radius: 3px;
    padding: 7px;
    background-color: #4285F4;
    display: inline;
    /* width: 30px; */
    margin-left: 15px;
    
} 
span {
    color: white;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10px;
}

.container2 {
    position: fixed;
    top: 20px;
    right: 20px;
    display: inline-block;
   
}
.container2 a {
    padding-right: 20px;
}
#images {
    padding-right: 45px;
}
#app-image {
    display: inline-block;
    padding-right: 10px;
    position: fixed;
    top: 15px;
    right: 120px;
    padding-left: 15px;  
}

.search-area {
    display: block;
    position: fixed;
    top: 30%;
    left: 32%;
}

#google-image {
    display: block;
    padding-left:100px;
    
    
}
#search {
   
    width: 500px;
    height: 45px;
    box-shadow:  0px 0px 2px 2px rgb(238, 235, 235);
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50px;    
    margin-top: 30px;

}
#microphone {
    display: inline-block;
    position: absolute;
    top: 135px;
    right: 23px;
    width: 13px;
    height: 20px;    
    opacity: 0.8;
}

#search-icon {
    display: inline-block;
    position: absolute;
    top: 139px;
    left: 13px;
    width: 15px;
    height: 15px;
    opacity: 0.7;
    
}
#search-box {
    position: absolute;
    margin-top: 30px;
    margin-left: 100px;
    background-color: rgb(131, 125, 125, 0.2);
    border-radius: 3.5px;
    width: 120px;
    height: 28px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    text-align: center;
    padding-top: 10px;
    opacity: 0.7;
}

#feeling {
    position: absolute;
    margin-top: 30px;
    margin-left: 250px;
    background-color: rgb(131, 125, 125, 0.2);
    border-radius: 3.5px;
    width: 120px;
    height: 28px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    text-align: center;
    padding-top: 10px;
    opacity: 0.7;

}

#other-language {
    position: absolute;
    margin-top: 75px;
    margin-left: 90px;
    width: 400px;
    height: 28px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding-top: 10px;
    
}

.location {
    display: inline-block;
    border: 0px solid;
    position: fixed;
    bottom: 50px;
    background-color:rgba(131, 125, 125, 0.1); ;
    height: 40px;
    width: 52cm;
}

#country {
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    opacity: 0.7;
}

.footer-left {
    display: inline-block;
    position: fixed;
    bottom: 10px;
    padding: 11px;
    background-color:rgba(131, 125, 125, 0.1);
    width: 52cm;
}
#advertising {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    opacity: 0.7;
    padding-right: 10px;
}
#business {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    opacity: 0.7;
    padding-right: 10px;
}

#work-search {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    opacity: 0.7;
    padding-right: 10px;
}
.footer-right {
    position: fixed;
    bottom: 10px;
    right: 10px;
    padding: 11px;
}

#privacy {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    opacity: 0.7;   
}

#terms {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    opacity: 0.7; 
    padding-left: 10px;
}

#settings {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    opacity: 0.7; 
    padding-left: 10px;
}