* {
    margin: 0px;
    padding: 0px;
}

.container1 {
    float: left;
    padding: 20px;
}
.container1 a {
    padding-right: 10px;
}

#subcontainer {
    border: 0px solid;
    border-radius: 3px;
    padding: 7px;
    background-color: #4285F4;
    display: inline;
    margin-left: 50px;
    
} 
#subcontainer:hover {
    box-shadow: 0px 0px 1px 1px #4285F4;
}
#span {
    color:rgb(255, 255, 255);
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 5px;
    padding-right: 5px;
    
    
}

.container2 {
    float: right;
    margin-top: 20px;
    margin-right: 10px;
   
}
.container2 a {
    padding-right: 20px;
}
#images {
    padding-right: 45px;
}
#app-image {
    position: fixed;
    top: 15px;
    right: 120px;
    padding-left: 15px; 
    opacity: 0.5; 
}

.search-area {
    width: 500px;
    height: 600px;
    position: absolute; /*Can also be `fixed`*/
    left: 0;
    right: 0;
    top: 40%;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
    
}



#google-image {
    display: block;
    padding-left:100px;
    align-items: center;
    
    
}
#search {
   
    width: 500px;
    height: 45px;
    box-shadow:  0px 0px 2px 2px rgb(238, 235, 235);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50px;    
    margin-top: 30px;
    padding-left: 30px;
}

#search:hover {
    box-shadow:  0px 4px 2px 2px rgb(238, 235, 235);
    border: x;

}
*:focus {
    outline: none;
}

#microphone {
    position: absolute;
    top: 135px;
    right: 23px;
    width: 13px;
    height: 20px;    
    opacity: 0.8;
}

#search-icon {
    position: absolute;
    top: 139px;
    left: 13px;
    width: 15px;
    height: 15px;
    opacity: 0.7;
    
}
#search-box {
    position: absolute;
    margin-top: 30px;
    margin-left: 100px;
    background-color: rgb(131, 125, 125, 0.2);
    border-radius: 3.5px;
    width: 120px;
    height: 28px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    text-align: center;
    padding-top: 10px;
    opacity: 0.7;
}
#search-box:hover {
    border: 0.1px solid rgba(90, 88, 88, 0.3);
    text-decoration: none;
    color: black; 
    font-weight: bold;

}

#feeling {
    position: absolute;
    margin-top: 30px;
    margin-left: 250px;
    background-color: rgb(131, 125, 125, 0.2);
    border-radius: 3.5px;
    width: 120px;
    height: 28px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    text-align: center;
    padding-top: 10px;
    opacity: 0.7;
    
}

#feeling:hover {
    border: 0.1px solid rgba(90, 88, 88, 0.3);
    text-decoration: none;
    color: black; 
    font-weight: bold;
}

#other-language {
    position: absolute;
    margin-top: 75px;
    margin-left: 90px;
    width: 400px;
    height: 28px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding-top: 10px;
    
}

.location {
    border: 0px solid;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.05);
    position: fixed;
    bottom: 46.3px;
    background-color:rgba(131, 125, 125, 0.1); ;
    height: 40px;
    width: 100%;
    
    
}

#country {
    float: left;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    opacity: 0.6;
    clear: both;
}

.footer-left {
    position: fixed;
    bottom: 5px;
    padding: 11px;
    background-color:rgba(131, 125, 125, 0.1);
    width: 100%;
}
#advertising {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    opacity: 0.6;
    padding-right: 10px;
}
#business {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    opacity: 0.6;
    padding-right: 10px;
}

#work-search {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    opacity: 0.6;
    padding-right: 10px;
}
.footer-right {
    position: fixed;
    bottom: 10px;
    right: 10px;
    padding: 11px;
}

#privacy {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    opacity: 0.6;   
}

#terms {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    opacity: 0.6; 
    padding-left: 10px;
}

#settings {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    opacity: 0.6; 
    padding-left: 10px;
}

.container1 a, .container2 a, .footer a {
    text-decoration: none;
    color: black;
    opacity: 0.7;
  }

.container1 a:hover, .container2 a:hover, .footer a:hover {
    text-decoration: underline;
    
}


#app-image:hover {
    opacity: 1;
}